nav {
    background-color: #876445;
    text-align: right;
    height: 140px;
}

nav a {
    text-decoration: none;
 }

nav ul {
    list-style: none;
 }

 nav li {
    display: inline-block;
    padding: 35px;
    margin-bottom: 100%;
 }
 
 main {
    text-align: center;
 }

 .logo {
     width: 150px;
     margin-top: 2px;
     margin-left: 15px;
     float: left;
 }

.title {
    text-align: left;
    padding-top: 40px;
}


