nav {
    background-color: #876445;
    height: 140px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}

nav a {
    text-decoration: none;
 }

nav ul {
    list-style: none;
 }
 
 nav li {
    display: inline-block;
    padding: 35px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
 }
 

 main {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
 }

 .logo {
     width: 150px;
     margin-top: 2px;
     margin-left: 15px;
     float: left;
 }

 .title {
    padding-top: 40px;
}

.col-sm-6{
    width: 515px;
    margin-left: 450px;
}
